<div data-role="content">
  <%= simple_form_for @event, :html => { 'data-ajax' => false } do |f| %>
    <%= f.error_notification %>
    
    <div class="inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.association :category %>
      <%= f.association :sub_category %>
      <%= f.input :date, :as => :date, :order => [:day, :month, :year] %>
      <%= f.input :time %>
      <%= f.input :latitude, :as => :hidden %>
      <%= f.input :longitude, :as => :hidden %>
    </div>
    
    <div data-role="fieldcontain">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>

<script>
$(window).load(function()
{
  set_latitude_and_longitude("#event_latitude", "#event_longitude", "<%= current_user.location %>");
});
</script>